/************* TAGS **************/
html {
  background-color: #EAF6F6;
}

body {
  font-family: 'Anton', sans-serif;
}

h1 {
  font-weight: bold;
  font-family: 'Lobster', cursive;
  margin: 0;
}



/************* CLASSES *************/

.header-container {
  display: inline-block;
  width: 100%;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #3D3C42;
}

.header-logos {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.logo-ws {
  width: 12%;
  float: left;
}

.logo-af {
  width: 10%;
  float: right;
  margin: 8px auto 0 auto;
}

.header-text {/*Main poster of Westsiders in the header*/
  font-size: 800%;
  display: inline-block;
  margin: 8px auto auto auto;
  font-family: 'Montserrat', sans-serif;
}

.address-text {
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 10.5rem;
  left: 56rem;
  font-family: 'Montserrat', sans-serif;
}

.navbar-color {
  background-color: #1363DF;
  font-family: 'Montserrat', sans-serif;
  border-bottom-style: solid;
  border-color: #3D3C42;
}

.content-container {
  text-align: center;
  padding-top: 2rem;
  background-color: #EAF6F6;
}

/************* ID ****************/
