/************* TAGS **************/
body {
  margin: 0;
  border-right: solid 3px;
  border-left: solid 3px;
}

h1 {
  font-size: 2em;
  margin: 0px;
  font-weight: bold;
}



/************* CLASSES *************/

.header-container {
  display: inline-block;
  width: 100%;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #3D3C42;
}
.header-logos {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.logo-ws {
  width: 12%;
  float: left;
}
.logo-af {
  width: 10%;
  float: right;
}
.header-text {/*Main poster of Westsiders in the header*/
  font-family: Brush Script MT, cursive;
  font-size: 800%;
  display: inline-block; 
}





/************* ID ****************/
